<div class = "container">
<h1>アプリプライバシーポリシー</h1>
<p>第1条（総則）<p>
<p>本プライバシーポリシーは、helpecofaq（以下、「本アプリ」といいます）におけるユーザーの個人情報の取扱いに関する方針を定めるものです。
ユーザーは、本アプリを利用することにより、本プライバシーポリシーに同意したものとみなされます。</p>
<p>第2条（個人情報の収集）</p>
<p>本アプリは、ユーザーがサービスを利用するために、以下の個人情報を収集します。</p>
<li>メールアドレス</li>
<li>パスワード</li>
<p>第3条（個人情報の利用目的）</p>
<p>本アプリは、収集した個人情報を以下の目的で利用します。</p>
<p><li>ユーザー認証およびサービス提供</li>
<li>ユーザーからの問い合わせ対応</li>
<li>サービスの改善および新機能の開発</li></p>
<p>第4条（個人情報の第三者提供）</p>
<p>本アプリは、ユーザーの同意がある場合を除き、個人情報を第三者に提供しません。ただし、以下の場合は除きます。</p>
<p><li>法令に基づく場合</li>
<li>人の生命、身体または財産の保護のために必要がある場合であって、ユーザーの同意を得ることが困難である場合</li></p>
<p>第5条（個人情報の管理）</p>
<p>本アプリは、ユーザーの個人情報の正確性を保ち、これを安全に管理します。
個人情報の紛失、破壊、改ざん及び漏洩を防止するために、適切な技術的および組織的措置を講じます。</p>
<p>第6条（個人情報の開示、訂正、利用停止）</p>
<p>ユーザーは、自身の個人情報の開示、訂正、利用停止を求めることができます。
これらの請求があった場合、本アプリは速やかに対応します。</p>
<p>第7条（プライバシーポリシーの変更）</p>
<p>本アプリは、必要に応じて本プライバシーポリシーを変更することができます。
変更後のプライバシーポリシーは、本アプリ上で告知した時点から効力を生じるものとします。</p>

制定日：2024年7月31日
</div>