<div class = "container">
<h1>アプリ利用規約</h1>
<p>第1条（総則）</p>
<p>本規約は、helpecofaq（以下、「本アプリ」といいます）の利用条件を定めるものです。<br>
本アプリの利用者（以下、「ユーザー」といいます）は、本規約に同意したものとみなされます。</p>
<p>第2条（サービス内容）</p>
<p>本アプリは、ユーザーが石綿及び産業廃棄物に関する質問を投稿し、管理者がその質問に回答するサービスを提供します。<br>
本サービスは無料で提供され、ユーザーはメールアドレスとパスワードによる認証を経て利用できます。</p>
<p>第3条（ユーザー登録）</p>
<p>ユーザーは、本アプリを利用するために、メールアドレス及びパスワードを登録する必要があります。
ユーザーは、登録情報が真実かつ正確であることを保証します。</p>
<p>第4条（禁止事項）</p>
<p>ユーザーは、以下の行為を行ってはならないものとします。</p>
<p><li>他のユーザーまたは第三者の権利を侵害する行為</li>
<li>不正アクセスやその他の不正行為</li>
<li>法令または公序良俗に反する行為</li>
<li>本アプリの運営を妨害する行為</li></p>
<p>第5条（免責事項）</p>
<p>本アプリの提供する回答が正確であることを保証しません。
本アプリの回答に基づいて行われた行為について、本アプリは一切の責任を負いません。<br>
本アプリの利用により生じた損害について、本アプリは一切の責任を負いません。</p>
<p>第6条（利用停止等）</p>
<p>本アプリは、ユーザーが本規約に違反した場合、事前の通知なくユーザーの利用を停止またはアカウントを削除することができます。<br>
本アプリは、運営上必要と判断した場合、ユーザーに事前の通知なくサービス内容を変更または停止することができます。</p>
<p>第7条（規約の変更）</p>
<p>本アプリは、必要と判断した場合、本規約を変更することができます。
規約の変更は、本アプリ上での告知後、効力を生じるものとします。</p>
<p>第8条（準拠法・管轄裁判所）</p>
<p>本規約の解釈及び適用に関しては、日本法を準拠法とします。
本アプリに関する紛争については、本アプリの運営者の所在地を管轄する裁判所を専属的合意管轄とします。</p>
制定日：2024年7月31日
</div>