<h1>新規質問投稿</h1>
<div class="card">
   <div class="card-header">
    新規質問投稿
  </div>
  <div class="card-body">
    <h5 class="card-title">石綿産廃に関する質問投稿</h5>
<%= render "form", article: @article %>
  </div>
<div class="card-footer">
  <%= link_to "質問一覧へ戻る", articles_path,class: "btn btn-primary" %>
</div>
</div>
