<%=search_form_for @q, url: url, remote: true do |f| %>
  <div data-controller="autocomplete" data-autocomplete-url-value="articles/search" role="combobox">
  <div class="input-group mb-3">
    <%=f.search_field :title_cont, data: { autocomplete_target: 'input' },class: 'form-control', placeholder: '検索ワード'%>
    <%= f.hidden_field :title, data: { autocomplete_target: 'hidden' } %>
  <div class="input-group-append">
    <%=f.submit '検索', class: 'btn btn-primary'%>
  </div>
  </div>
<%end%>