<header>
  <nav class='navbar navbar-expand-lg navigation navbar-light bg-light'>
    <button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ms-auto main-nav align-items-center'>
      <li class="nav-item">
      <%= link_to "質問投稿", new_admin_article_path %>
      <%= link_to "質問一覧", admin_articles_path %>
      <%= link_to "お気に入りリスト", "#" %>
      <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete } %>
      <li>
      </ul>
    </div>
  </nav>
</header>